@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/homepage";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

// scss code for the site
// Define new color code(s)
$gray-medium: #888;

.home-content-container {
  a {
    color: white;
  }

  #newsCollapse,
  .card,
  .list-group,
  .list-group-item {
    background-color: var(--gray);
  }
}

.home-content-nav {
  button,
  i.fa {
    color: white;
    border: none;
    background-color: var(--primary);
  }
}

.home-content-nav.open {
  button,
  i.fa {
    background-color: var(--gray);
  }
}
