.home .page-header h1 {
  display: none;
}
.brand-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-img {
  height: 4rem;
  transform: translate3d(0,1rem,0);
}
img.menu-toggle {
  border: 1px solid white;
  padding: .2rem .2rem;
  border-radius: 2px;
  transform: rotate(0deg) scale(2) translateY(0rem);
}
img.menu-toggle.open {
  transform: rotate(-90deg) scale(2) translateY(0rem);
}
.nav {
  flex-direction: column;
}
nav.nav-primary {
  transition: transform 500ms ease-in;
  width: 100%;
  transform: translate3d(-40rem, 0, 0);
  position: relative;
  min-height: 15rem;
  background: white;
  border: 1px solid var(--primary);
  font-size: 1rem;
  padding: 15px;
}

nav.nav-primary.open {
  left: 0;
  transform: translate3d(0, 0, 0);
}

nav.nav-primary a, nav.nav-primary a:visited {
  color: var(--primary);
  font-family: Montserrat;
  margin-left: 1em;
  font-size: 1.5em;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav li {
  padding-left: 3rem;
}
.home-content-container {
  background-color: var(--primary);
  margin: .4rem 0;
}
.home-grid .home-content-container.row:hover,
.home-content-container.row:hover div,
.home-content-container.row:hover i {
    background-color: var(--gray);
}

.banner {
  margin-bottom: 4rem;
  z-index: 100;
  max-height: 6rem;
}

.banner div:first-child,
.banner div.row {
  height: 6rem;
}

.banner .nav li,
.home-content-nav h3,
.home-content-container .front {
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: 1rem .5rem;
  display: flex;
  justify-content: space-between;
}
.home-content-container .front,
.home-content-container .textwidget {
  padding: 0 1rem;
}
.front i.fa.fa-chevron-right.fa-1x {
  padding: .4rem .3rem .1rem 3.5rem;
}
.home-content-nav h3 {
  background-position: 0;
  font-size: 1.3rem;
  margin: 0;
  min-height: 2.1rem;
  padding: .4rem 0 0 3.5rem;
}
.home-content-container .front ul {
  list-style-position: outside;
}
.home-content-container .textwidget {
  padding-top: 1rem;
}
.home-content-nav,
.home-content-container {
  padding: .5rem .2rem;
  color: var(--light);
}
.home-content-nav.open {
  background-color: var(--gray);
  border-bottom: 1px solid var(--dark);
}
.home-content-nav.closed {
  background-color: var(--primary);
  margin: 0;
  width: 100%;
}
.home-content-container.row.open,
.home-content-container.row.open i {
  background: var(--gray);
}
.home-content-container.row {
  background: var(--primary);
}
.home-content-nav a {
  color: var(--primary);
}
.banner .nav li:first-child {
  background-image: url(../images/Icons/Home/home-blue75px.png);
}
.about-link {
  background-image: url(../images/Icons/About/about-blue75px.png);
}
.event-link {
  background-image: url(../images/Icons/Events/events-blue75px.png);
}
.programs-link {
  background-image: url(../images/Icons/Programs/programs-blue75px.png);
}
.news-link {
  background-image: url(../images/Icons/News/news-blue75px.png);
}
.resources-link {
  background-image: url(../images/Icons/Resources/resources-blue75px.png);
}
.login-link {
  background-image: url(../images/Icons/Login/login-white75px.png);
}
.facebook-link {
  background-image: url(../images/Icons/Facebook/facebook-white75px.png);
}
.twitter-link {
  background-image: url(../images/Icons/Twitter/twitter-white75px.png);
}
.instagram-link {
  background-image: url(../images/Icons/Instagram/instagram-white75px.png);
}
#menu-top-navigation li {
  background-position-y: .8rem;
}
.nav-link, .banner .nav a {
  padding: 0.5rem .7rem;
}

.page-header h1 {
  color: var(--primary);
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--primary);
}

.metaslider {
  border: 1px solid black;
}

.nivo-controlNav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}
.nivo-caption {
  background-color: var(--light);
  color: var(--primary);
  height: 3rem;
  padding-top: 1rem;
}
.row.home-grid {
  margin: .2rem auto;
}
.home-content-container.row {
  margin: .2rem 0;
  width: 100%;
}
.home-content-nav,
.home-content-nav.row.justify-content-between.open,
div#newsCollapse,
div#aboutCollapse,
div#programsCollapse,
div#resourcesCollapse {
  margin: 0 auto;
  width: 100%;
}
.blog-grid {
    min-height: 12rem;
    position: relative;
}
.grid-background {
    height: 12rem;
    position: relative;
    filter: opacity(.2);
}
.blog-grid:hover .grid-background {
    filter: opacity(.5);
}
.grid-foreground {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  background: rgba(255,255,255,.2);
  height: 12rem;
}
.multi-collapse.collapse.show {
  background-color: var(--gray);
}
img.invisible {
  height: 0;
}
button#programsToggle,
button#newsToggle,
button#resourcesToggle,
button#aboutToggle {
  background: none;
  border: none;
}

h2.entry-title {
  margin: 1rem 0 .75rem;
}
.widget_categories h3 {
  margin: 1rem 0;
  color: var(--primary);
  text-transform: uppercase;
}
/* Category Cloud-ish behavior */
.widget_categories ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}
.widget_categories li {
  margin-bottom: 1rem;
}
.widget_categories ul a {
  background-color: #aaa;
  padding: .5em;
  border-radius: .1rem;
  margin: .3rem;
  color: var(--light);
}
.home-content-container .list-group.list-group-flush .list-group-item {
  background: var(--gray);
}
.home-content-container.open {
  overflow: hidden;
}
h3.news-link {
  background-image: url(../images/Icons/News/news-white75px.png);
}
h3.about-toggle {
  background-image: url(../images/Icons/About/about-white75px.png);
}
h3.programs-toggle {
  background-image: url(../images/Icons/Programs/programs-white75px.png);
}
h3.resources-toggle {
  background-image: url(../images/Icons/Resources/resources-white75px.png);
}

.event-info {
  margin-bottom: 2em;
}

.event-info .location {
  font-size: 120%;
}

.section-header h2  {
  margin-top: 1em;
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

div.body-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wrap {
  flex-grow: 1;
}

#home-widget-container h2 {
  vertical-align: middle;
  border-bottom: 1px solid;
  border-color: var(--gray);
}

#home-widget-container .grid-foreground {
  position: absolute;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3em;
  background: var(--secondary);
  border: 1px solid var(--gray);
  display: flex;
  overflow: hidden;
}

#home-widget-container .event-grid-foreground {
  background: var(--danger);
}

#home-widget-container .grid-foreground a {
  color: rgba(255,255,255,1);
}

#home-widget-container .grid-foreground:hover {
  background: rgba(255,255,255,.6);
}

#home-widget-container .grid-foreground:hover a {
  color: var(--secondary);
  font-weight: 500;
  text-decoration: none;
}

#home-widget-container .grid-foreground p {
  margin: auto; /* Important */ 
  text-align: center; 
  overflow: hidden;
}

#home-widget-container .grid-background {
  background-size: cover;
}

#home-widget-container .grid-box {
  position: relative;
}
.homepage-buttons {
  margin: 2em 0;
}
.homepage-buttons ul {
  margin-bottom: .5em;
  padding-left: 0;
}

.homepage-buttons ul {
  margin-bottom: .5em;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.homepage-buttons li {
  margin-bottom: .5em;
  border-width: 2px;
  font-family: Montserrat;
}

.homepage-buttons .btn a {
  color: white;
  text-decoration: none;
}

.home h2 {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
} 

.home .about-us-blurb h2 {
  font-size: 2.25rem;
  color: var(--secondary);
}

h2.home-news {
  text-align: center;
  margin-top: 1em;
}

header.banner, footer {
  background: var(--primary);
}

footer {
  margin-top: 2rem;
  padding: 0;
  width: 100%;
  color: white;
  background: #000000;
}

footer div.container {
  padding-bottom: .5rem;
  padding-top: .8rem;
}

footer div.menu-bottom-menu-container, footer div.menu-bottom-menu-container ul {
  display: flex;
}

footer ul.nav {
  justify-content: flex-start;
}

.flex-grow {
  flex-grow: 1;
}

footer .nav {
flex-direction: row;
}

footer .nav li {
  background-position: 0 0rem;
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-right: 0.5rem;
}

footer .nav li a {
  display: block;
  color: transparent;
  height: 2rem;
}

footer .nav li.login-link {
  color: inherit;
  padding-left: .5rem;
  background-position: 0.5rem 0rem;
  border-left: 1px solid white;
  width: 6rem;
}

footer .nav li.login-link a {
  color: white;
  padding-top: 2px;
  padding-left: 2.3rem;
  display: block;
}

footer div.national-branding {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer section {
  height: 2.5rem;
}

footer div.national-branding img {
  padding: 0px 6px;
}


footer div.national-branding img#oregoncsta-logo {
  margin-top: 0px;
  vertical-align: top;
}

footer div.national-branding img#csta-logo {
  margin-top: 3px;
  vertical-align: top;
}

.home .about-us-blurb {
  font-size: 1.2em;
  margin-top: 2rem;
}

.home .metaslider .caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  background: none;
  opacity: 1;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.home .metaslider .caption-wrap .caption {
  background: var(--success);
  color: white;
  display: inline-block;
  line-height: 1.4em;
  margin: 1rem 15px;
  font-family: Montserrat;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
}

.banner {
  margin-bottom: 2rem;
}

#home-widget-container .grid-box {
  height: 8rem;
}
#home-widget-container .grid-background, #home-widget-container .grid-foreground {
  height: 8rem;
  font-size: 22px;
}
#home-widget-container .blog-grid {
  height: 8rem;
  min-height: 8rem;
  margin-bottom: 10px;
}

footer .nav li.login-link {
  color: inherit;
  background-position: 1rem 0rem;
  width: 6rem;
  padding-left: 0;
  border-left: 0;
  background-position: 0rem 0rem;
}
footer div.national-branding {
  justify-content: flex-start;
  margin-top: 1rem;
}

.featured-image {
  float: none;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 0.5em;
}
.featured-image img {
  margin: auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .brand-img {
    height: 6rem;
  }
  header.banner {
    min-height: 8rem;
    margin-bottom: 4rem;
  }
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: .3rem;
  }

  nav.nav-primary {
    transition: none;
    min-height: 1rem;
    background: var(--primary);
    transform: translate3d(0,0,0);
    max-height: 3rem;
    height: 2.5rem;
    top: 1rem;
  }
  nav.nav-primary a, nav.nav-primary a:visited {
    color: white;
    top: 8.8rem;
    font-size: 1.6rem;
  }
  .home-content-container .home-content-nav h3 {
    padding: 0;
    background-position: .1rem .2rem;
    font-size: 1.3rem;
    text-align: center;
    background-image: none;
  }
  .home-content-nav div:first-child {
    order: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-content-nav div:last-child {
    display: flex;
    justify-content: center;
  }
  .banner .nav li {
    background-image: none;
    padding-left: 0;
  }
  .banner .nav li:first-child {
    background-position: 0 .1rem;
    width: 2.1rem;
  }
  .banner .nav li:first-child {
    background-image: url(../images/Icons/Home/home-blue-solid75px.png);
    border-right: 1px solid var(--primary);
  }
  .banner .nav li.twitter-link {
    background-image: url(../images/Icons/Twitter/twitter-blue75px.png);
  }
  .banner .nav li:first-child a{
    color: transparent;
    padding: .1rem;
  }

  .banner .nav li.login-link {
    order: 10;
    font-weight: normal;
    width: 4.5rem;
    background-image: url(../images/Icons/Login/login-white75px.png);
    background-position: .5rem .1rem;
    border-left: 1px solid var(--primary);
  }
  .banner .nav li.login-link a {
    padding-left: 2.5rem;
  }
  .nav-link, .banner .nav a {
    padding: .5rem;
  }
  .row.home-grid {
    margin: 0.2rem auto;
  }
  .home-content-nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .home-content-nav.open {
    border-bottom: none;
  }

  .home .main > .row {
    margin: 20px 0;
  }
  .homepage-buttons ul {
    flex-direction: row;
  }
  .homepage-buttons li {
    width: 30%;
  }
  .home-content-container.row {
    max-height: 350px;
    min-height: 300px;
    margin-bottom: .2rem;
  }
  .home-content-container.row {
    justify-content: space-around;
    width: 50%;
    margin: 0 0 .2rem 0;
    align-items: stretch;
    border-bottom: 2rem solid white;
  }
  .home-content-container.row:nth-child(odd) {
    border-right: 1rem solid white;
  }
  .home-content-container.row:nth-child(even) {
    border-left: 1rem solid white;
  }
  .home-content-container.programs .home-content-nav {
    background-image: url(../images/Icons/Programs/programs-white75px.png);
  }
  .home-content-container.news .home-content-nav {
    background-image: url(../images/Icons/News/news-white75px.png);
  }
  .home-content-container.resources .home-content-nav {
    background-image: url(../images/Icons/Resources/resources-white75px.png);
  }
  .home-content-container.about .home-content-nav {
    background-image: url(../images/Icons/About/about-white75px.png);
  }
  .home-content-container.programs .home-content-nav,
  .home-content-container.news .home-content-nav,
  .home-content-container.resources .home-content-nav,
  .home-content-container.about .home-content-nav {
    background-repeat: no-repeat;
    background-position: center;
  }
  .home-content-container.open .home-content-nav {
    background-image: none;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .home-content-container.open .front {
    width: 100%;
    justify-content: center;
  }
  li.list-group-item {
    padding: .2rem 0;
    line-height: 1.1rem;
  }
  .textwidget.collapse {
    padding-top: 0;
  }
  .home-content-container.open h3 {
    margin: 0 auto;
    width: auto;
  }
  button.toggle img {
    margin-left: .39rem;
  }
  .home-content-nav.row.justify-content-between.open img {
    visibility: hidden;
    height: 1px;
  }

  #home-widget-container .grid-foreground {
    font-size: 18px;
  }

  .home .about-us-blurb h2 {
    font-size: 28pt;
  }

  ul#menu-action-buttons li {
    margin: 1rem 15px;
  }
}
@media (min-width: 992px) {
  .home .about-us-blurb h2 {
    font-size: 23pt;
  }
  .home .about-us-blurb p {
    font-size: 13pt;
  }
  .homepage-buttons {
    margin-bottom: 1em;
  }

  .home .about-us-blurb p {
    font-size: 14pt;
    text-align: center;
  }
  
  ul#menu-action-buttons li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ul#menu-homepage-action-buttons li:last-child {
    margin-left: 0;
    margin-right: 0;
  }

  ul#menu-homepage-action-buttons li {
      margin-right: 1rem;
  }
  
  .homepage-buttons li {
    width: 26%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .row.home-grid {
    display: flex;
    justify-content: space-around;
  }
  .home-content-nav {
    width: 100%;
  }
  .home-content-container.row {
    min-height: 200px;
    width: 47%;
    margin: 0 0 1rem 0;
    border-bottom: .25rem solid white;
  }
  .home-content-container.row:nth-child(odd) {
    border-right: .125rem solid white;
  }
  .home-content-container.row:nth-child(even) {
    border-left: .125rem solid white;
  }
  .home-content-container li a {
    font-weight: 100;
    font-size: small;
  }
  .home-content-nav.row.justify-content-between.closed div:last-child {
    order: 1;
  }
  .home-content-nav.row.justify-content-between.closed div {
    order: 2;
  }
}