html,
body {
  height: 100%;
}

body {
  font-size: 17px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1,
h2 {
  font-weight: 900;
}
