/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #0e5df8,
  secondary: #2b4177,
  success: #28a745,
  dark-gray: #424650,
  light-gray: #eee,
  gray: #adadad,
  red: #ff3c00,
  pink: #f98696,
  orange: #fe9900,
  purple: #9d1db2,
  lightblue: #01d3ff,
  neongreen: #5df14d,
  cstared: #fe3c00
);
